a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* Base styling */

body {
  width: 430px;
  margin: 0 auto;
  background-color: #f2e9e4;
  font-family: 'Montserrat', sans-serif;
}

.instructions {
  font-size: 18px;
  color: #9a8c98;
}

.instructions li {
  padding: 5px;
}

.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #9a8c98;
}

#title {
  text-align: center;
  color: #9a8c98;
  font-weight: 900;
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  margin: 10px;
  color: #575756;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  transform-style: preserve-3d;
}

.search__input:hover {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.poem__line {
  width: 100%;
  padding: 12px 24px;
  margin: 10px;
  color: #575756;
  background-color: transparent;
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

:after,
:before {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

button {
  margin: 1em;
  display: inline;
  float: left;
  padding: 10px;
  background-color: #c9ada7;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

#inspire-me-quote {
  display: inline-block;
}
